/* Reset code and Common code Starts here */
:root{
    --primary-color: #213448;
    --secondary-color: #547792;
    --third-color: #94B4C1;
    --text-color: white;
    --padding: 1rem;
    --transition: all 0.3s ease-in-out;
    --border-radius: 0.6rem;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Montserrat", "roboto";
    font-size: 1rem;

}
html{
    scroll-behavior: smooth;

}
img{
    max-width: 100%;
    height: auto;
}
.btn{
    padding: 0.5rem 0.5rem;
    background-color: var(--third-color);
    color: black;
    border-radius: 0.3rem;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1rem;
    transition: var(--transition);

    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
}
.flex-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-size: 1.5rem;
}
.card{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--padding);
    transition: var(--transition);
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
}
a{
    text-decoration: none;
    color: white;
}
.text-center{
    text-align: center;
}
/* Reset  code and Common code Starts here*/

/* Nav Bar Design Starts */
#menu-icon{
    display: none;
}

nav{
    font-size: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--padding);

}
.nav__list{
    transition: var(--transition);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    display: flex;
}
.nav__list:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.nav__link{
    color: var(--text-color);
    transition: var(--transition);
    font-size: medium;
}
.nav__link:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.4rem;
    border-radius: 0.4rem;
}
.profile-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    filter: saturate(0);
}
.profile-icon:hover{
    filter: saturate(1);
}

.nav-lower{
    min-height: 8vh;
    background-color: var(--secondary-color);

}
.nav__brand{
    font-size: 1.5rem;
    border: 3px;
}
.brand-icon{
    padding: 0.2rem;
    border: 3px solid rgb(255, 255, 255);
    margin: 0.2rem;
}
.brand-icon:hover{
    border: 3px solid rgb(0, 0, 0);
    transform: scale(1.1);
    transition: var(--transition);
}
/* Nav Bar Design Ends  */

/* Header Part Starts Here */

.header{
    padding: var(--padding);
    height: 70vh;
    background: url(./images/colorful-abstract-textured-background-design.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;

}
.banner{
    width: 100%;
    height: auto;
    flex-direction: column;
}
.banner__title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    border-radius: var(--border-radius);
    margin-bottom: 4rem;
}
.features{
    width: 100%;

}
.feature{
    
    background-color: var(--third-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: black;
    text-align: center;
    font-size: 1.2rem;
    width: 15rem;
    flex-direction: column;

}
.feature:hover{
    transform: scale(1.1);
    transition: var(--transition);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
}
.feature__icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
/* Header Part Ends Here */




/* Main Part Starts Here */

main{
    padding: 4rem 0;
    min-height: 80vh;
    
    
}
.sidebar{
    flex: 1;
    padding: var(--padding);
    background-color: var(--third-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    color: black;
    flex-direction: column ;
    justify-content: center;
    align-self: flex-start;
}
.main-content{
    flex: 3;
    padding: var(--padding);
}
.actions__sort select{
    padding: 0.5rem;
    width: 15rem;
    border-radius: var(--border-radius);

}
.actions__search input{
    padding: 0.5rem;
    width: 15rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: 1px solid black;
}
.actions__search button{
    background-color: var(--third-color);
    margin-left: -0.3rem;
    border: 1px solid black;
    padding: 0.5rem;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

}
.products{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}
.product{
    position: relative;
}
.badge{
    position: absolute;
    background-color: rgb(255, 0, 0);
    color: var(--text-color);
    top: 0;
    left: 0;
    z-index: 10;
    padding: 4px 8px;
    border-radius: var(--border-radius);
}
.hr-design{
    margin: 2px 0;
}
.product img{
    width: 100%;
    height: 15rem;
    filter: saturate(0);
    transition: var(--transition);
}
.product img:hover{
    filter: saturate(1);
}
.product__body{
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: 0.5rem;
}
.product__link{
    color: blue;
}
.dot{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    display: inline-block;
}
.black{
    background-color: black;
    border: 1px solid white;
}
.skyblue{
    background-color: skyblue;
    border: 1px solid black;
}
.bisque{
    background-color: bisque;
    border: 1px solid black;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}
.pagination__btn{
    border-width: 1px 1px 1px 0px;
    border-style: solid;
}
.pagination__btn:first-child{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.btn-home{
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 30%;
}
    /* Product Details Starts */

.product-details__left{
    flex: 1;
}
.product-details__right{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: 0.6rem;
    
}
.product-details__img{
    height: 20rem;
    width: 25rem;
    border: #213448 3px solid;
    border-radius: var(--border-radius);
}


    /* Product Details Ends */


    /* Cart Starts Here */

.cart{
    padding: var(--padding);
    gap: 1rem;
}
.cart__items{
    flex: 1;
}
.cart__payment{
    flex: 1;
}
.cart .card{
    margin-bottom: 1rem;
}
.cart__items-actions{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart__item input{
    flex: 0.1;
}
.cart-item__img{
    flex: 0.2;
    width: 15rem;
    height: 10rem;

}
.cart-item__description{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.cart__item-shipping{
    margin-top: 0.5rem;
    color: green;

}
.card__item-actions{
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.cart__payment-summary >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
}
.cart__payment-btn{
    width: 100%;
}
.cart__payment-methods > h2{
    text-align: center;
    margin-bottom: 1rem;
}
.cart__payment-methods > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
    /* Cart Ends here */


    /* Profile Starts here */

.profile{
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: 2rem;
}
.profile__info{
    flex-direction: column;
    width: 30rem;
    padding: var(--padding);
    gap: 1rem;
}  
.profile__img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid black;
}
    /* Profile Ends here */



    /* Register Starts here */

.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: 1rem;
}
.form-control label{
    flex: 0.2;
    text-align: left;
}
.form-control input{
    flex: 0.8;
    padding: var(--padding);
}
.form-control textarea{
    resize: none;
    height: 10vh;
}
.form-btn-field{
    border-radius: var(--border-radius);
}
.contact-btn{
    width: 100%;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 60vh;

}
.register .card{
    width: 50rem;
}

    /* Register Ends here */


    /* Login Starts here */

    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        min-height: 60vh;
    
    }
    .login .card{
        width: 50rem;
    }
    .login-btn{
        width: 30%;
    }

    /* Login Ends Here */

    /* Contact Starts Here */

.phone-number{
    color: var(--secondary-color);
}
.contact-section{
    min-height: 50vh;
    padding: var(--padding);
}

.contact-container{
    margin-top: 2rem;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact-container form{
    margin-bottom: 2rem;
    flex: 1;
}
.contact-address{
    flex: 1;
    align-items: center;
    gap: 2rem;
}
.map{
    margin-top: 2rem;
    width: 40%;
}

    /* Contact Starts Here */

/* Main Part Ends Here */


/* Footer Starts Here */

.footer__nav{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    
}
.footer__link{
    color: black;
}
.footer__input{
    padding: 0.5rem;
    width: 15rem;
    border-radius: var(--border-radius);
    border: 1px solid black;
}
/* Footer Ends Here */

 /* Reponsiveness Starts */

@media (max-width: 992px){

    #menu-icon{
        display: block;
        text-align: center;
        margin: 1rem 0;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .flex-around-center, .flex-center{
        flex-direction: row;
        gap: 1rem;
        padding: var(--padding);
    }
    .header{
        height: 100vh;
    }
    .products{
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem 0;
    }
    .cart__items, .cart__payment{
        width: 90%;
    }
    .form{
        width: 100%;
        gap: 0;
    }
    .form-control{
        width: 100%;
    }
    .form-control input, textarea{
        width: 80%;
    }
    .register .card, .login .card{
        width: 90%;
    }

}
@media (max-width: 768px){
    .products{
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem 0;
    }
}
@media (max-width: 600px){

    .products{
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem 0;
    }
}
 /* Reponsiveness Starts */